* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('pre.jpg'); /* Replace 'background.jpg' with your image path */
    background-size: cover;
    background-position: center;
    color: black; /* Set font color to black */
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255,0.3); /* Reduced opacity for white background */
    padding: 2vw;
}

.heading {
    text-align: center;
    font-family: 'Fira Code', monospace;
    font-size: 3rem;
    margin-bottom: 60px;
}

.sub-heading {
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
}

.location-container {
    margin: 40px 0;
    background-color: rgba(255, 255, 255, 0.5); /* Slightly more transparent white background */
    padding: 20px;
    border-radius: 10px;
}

.loc-input {
    border: 3px solid rgb(244, 63, 47);
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 6px;
    margin: 10px;
    width: 270px;
}

.loc-input:invalid {
    border: 3px solid #f53a3a;
}

.search-btn {
    padding: 10px 14px;
    background-color: #f4403d ;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 4px;
    color: #fff;
    margin: 10px;
    cursor: pointer;
}

.air-quality, .arr, .air-quality-status {
    font-size: 6rem;
    font-weight: 700;
    color: red;
    text-shadow: 
        -2px -1px 0 #000,  
        1px -2px 0 #000,
        -2px 1px 0 #000,
        1px 1px 0 #000;
}

.component-names {
    display: inline-block;
    font-size: 23px;

}

.component-container div {
    margin: 10px 0;
}

.component-val {
    font-size: 1.6rem;
    margin-left: 20px;
    color: white;
    font-weight: 500;
}

footer {
    margin-top: 40px;
    text-align: center;
}
